/* Enter your custom styles here */
.sapMSplitContainerMaster {
    width: 16rem;
    height: 100%;
}

/* 
#__xmlview0--sidemenu{
    height: 100%;
} */

.sapTntSideNavigation {
    height: 100%;
}

.sapMDialogScroll {
    margin-top: 16px;
    /* margin-left: 10px; */
    padding: 10px;
}

/* .sapMDialog{
    min-width: 35% ;
    overflow-x: hidden;
} */

#container-febill---Bills--addBillDialog {
    min-width: 550px;
    overflow-x: overlay;
}

#container-febill---Bills--detailsDialog {
    min-width: 680px;
    overflow-x: overlay;
}

#container-febill---Bills--billHeadContainer {
    background-image: url("https://github.com/mazyar1128/tailwindcss-invoice-dashboard/blob/main/images/invoice.png?raw=true");
    background-repeat: no-repeat;
    background-color: rgb(255 228 230 / 0.7);
    background-position: right;
}

@media only screen and (min-width: 900px) {

    /* Adjust the min-width value as needed for your desktop breakpoint */
    .sapMDialogSection {
        overflow-x: hidden !important;
    }
}

.sapMLabelTextWrapper {
    margin: 4px 10px 8px;
}

.sapMFlexItemAlignAuto,
.sapMFlexBoxBGTransparent,
.sapMFlexItem {
    margin-right: 8px !important;
}

.sapMScrollContScroll {
    .sapMScrollContScroll {
        height: 100%;
    }

    /* quan */
    .rm-btn {
        margin-right: 5px !important;
    }

    .detailsContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .itemInfoRow {
        width: 100%;
        flex: 1;
        /* Take up the first half of the VBox */
    }

    .sapUiLargeMarginEnd {
        margin-right: 16px;
        /* Add margin between item info elements */
    }

    .sapUiResponsiveMargin {
        margin-top: 16px;
        /* Add margin between item info and history */
    }

    .updateItemName {
        color: black;
        font-weight: bold;
    }


}

.stockInfo {
    margin-left: 2.3rem;
    font-size: 24px;
    font-weight: bold;
}

.stockLabel {
    font-size: 1.25rem;
    font-weight: bold;
}

.stockText {
    font-size: 1.3rem;
    font-weight: bold;
}

.detailsView {
    background-color: #f8f8f8;
    /* Light gray background color */
}

.headerObject {
    border-bottom: 1px solid #ddd;
    /* Add a bottom border to the header */
    margin-bottom: 10px;
    /* Add some space between the header and the content */
}

/* Styles for Create Dialog */
.customDialog .customButtonConfirm,
.customDialog .customButtonCancel {
    width: 45%;
    /* Adjust button width as needed */
}

.customDialog .customLabel,
.customDialog .customInput {
    margin-bottom: 10px;
    /* Add spacing between labels and inputs */
    width: calc(100% - 20px);
    /* Adjust input width */
    padding: 0 50px;
}

/* Styles for Update Dialog */
.customDialog1 .customButtonConfirm,
.customDialog1 .customButtonCancel {
    width: 45%;
    /* Adjust button width as needed */
}

.customDialog1 .customLabel1,
.customDialog1 .customInput1 {
    margin-bottom: 10px;
    /* Add spacing between labels and inputs */
    width: calc(100% - 20px);
    /* Adjust input width */
    padding: 0 50px;
}

/* Adjust width of the dialogs */
.customDialog,
.customDialog1 {
    max-width: 300px;
    /* Adjust the maximum width of the dialogs */
    width: 30%;
}

.separator{
    margin: 8px 0 8px;
}

.iconBtn{
    border-radius: 50% !important;
}
